# macOS
.DS_Store

# Python bytecode (regenerated automatically)
__pycache__/
*.pyc

# IDE
.idea/
.vscode/
*.swp

# Runtime data created on Pager
loot/
logs/
*.log

# Local dev
.env
libs-old/
dev_backup/

# Build outputs
build-output/
src/openssl-3.0.13/

# Exclude all .md files except README.md
*.md
!README.md
